Button {
    -fx-background-color: null;
    -fx-background-radius: 50%;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.slider . track {
    -fx-background-color:null;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em;
}



.button {
    -fx-display: inline-block;
    -fx-transition: all null;
    -fx-cursor: null;
  }
  
  .button span {
    -fx-cursor: null;
    -fx-display: inline-block;
    -fx-position: null;
    -fx-transition: null;
  }
  
  .button span:after {
    -fx-content: '\00bb';
    -fx-position: null;
    -fx-opacity: 0;
    -fx-top: 0;
    -fx-right: null;
    -fx-transition: null;
  }
  
  .button:hover span {
    -fx-padding-right: null;
  }